.jumbotron-fluid{
    background-color: white;
    text-align: center;
}
body{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}
.icons{
    padding-right: 5px;
}.img-fluid{
    width: 400px;
    height: 400px;
}
.alt{
    
}